[submodule "src/rrcore/schema/rr-schema"]
	path = src/rrcore/schema/rr-schema
	url = git@github.com:obeezzy/rr-schema.git
[submodule "3rdparty/fluid"]
	path = 3rdparty/fluid
	url = git@github.com:obeezzy/fluid.git
[submodule "3rdparty/BigDecimal-CPP"]
	path = 3rdparty/BigDecimal-CPP
	url = git@github.com:obeezzy/BigDecimal-CPP.git
